*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
    height: 100dvh;
    overflow: hidden;
    overscroll-behavior: none;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

button,
.nav-link,
.icon {
    user-select: none;
    -webkit-user-select: none;
}

button { cursor: pointer; }

* {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    -webkit-touch-callout: none; 
}

img{
    max-width: 100%;
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

ol, ul {
	list-style: none;
}